@model QueTengoEnMiNevera.Models.IngredienteReceta

@{
    ViewData["Title"] = "Delete";
}

<h2>Borrar</h2>

<h3>Estás seguro?</h3>
<div>
    <h4>IngredienteReceta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Receta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receta.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingrediente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingrediente.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
