@inject QueTengoEnMiNevera.Services.QTEMNServices Services
@{
    ViewData["Title"] = "Contacto";
}

<div class="col-md" id="infoContact">
    <div class="content">
        <h2>@ViewData["Title"]</h2>
        @*<h3>@ViewData["Message"]</h3>*@

        

        <address>
            <br />Pilar González Clavaín<br />
            Calle Ejemplo,1<br />
            Lekeitio, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Contacto:</strong> <a href="https://www.linkedin.com/in/pilargonzalezclavain/">LinkedIn</a><br />
        </address>
    </div>
</div>