@{
    ViewData["Title"] = "Home Page";
}


<form action="~/Recetas/Buscar">
    <div class="row" id="gridentero">
        <div class="col-md-3" id="fondofiltros">
            <h2 class="filtros"></h2>
            <h5 class="fondofiltros"><strong>Filtrar por tipo:</strong></h5>
            <div>
                <p><input type="checkbox" name="filtro" value="italiana"><strong>Italiana</strong></p>
                <p><input type="checkbox" name="filtro" value="vegana"><strong>Vegana</strong></p>
                <p><input type="checkbox" name="filtro" value="mexicana"><strong>Mexicana</strong></p>
                <p><input type="checkbox" name="filtro" value="picoteo"><strong>Picoteo</strong></p>
                <p><input type="checkbox" name="filtro" value="pintxo"><strong>Pintxo</strong></p>
                <p><input type="checkbox" name="filtro" value="postre"><strong>Postres</strong></p>
                <p><input type="checkbox" name="filtro" value="inglesa"><strong>Inglesa</strong></p>
            </div>
            <h5><strong>Filtrar por tiempo:</strong></h5>
            <div>
                <p><input type="checkbox" name="filtro" value="3||5"><strong>Rapido</strong></p>
                <p><input type="checkbox" name="filtro" value="15||30||60"><strong>>15 minutos</strong></p>
                <p><input type="checkbox" name="filtro" value="30||60"><strong>>30 minutos</strong></p>
                <p><input type="checkbox" name="filtro" value="60"><strong>>1 hora</strong></p>

            </div>
            <h5><strong>Filtrar por calorias:</strong></h5>
            <div>
                <p><input type="checkbox" name="filtro" value="<100"><strong>Hasta 100 cal</strong></p>
                <p><input type="checkbox" name="filtro" value=">100"><strong>>100 cal</strong></p>
                <p><input type="checkbox" name="filtro" value=">200"><strong>>200 cal</strong></p>
                <p><input type="checkbox" name="filtro" value=">500"><strong>>500 cal</strong></p>
                <p><input type="checkbox" name="filtro" value=">1000"><strong>>1000 cal</strong></p>

            </div>
        </div>

        @*INGREDIENTES*@
        <div class="col-md-9" id="backgroundIngredientes">

            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/Hortalizas.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="cebollas" name="ingrediente" />cebollas</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="pepinos" name="ingrediente" />pepinos</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="tomates" name="ingrediente" />tomates</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="tomate cherry" name="ingrediente" />tomate cherry</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="lechuga" name="ingrediente" />lechuga</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="apio" name="ingrediente" />apio</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="zanahoria" name="ingrediente" />zanahoria</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="pimientos" name="ingrediente" />pimientos</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="patatas" name="ingrediente" />patatas</li>

                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/Frutas.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="platanos" name="ingrediente" />platanos</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="fresas" name="ingrediente" />fresas</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="manzanas" name="ingrediente" />manzanass</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="peras" name="ingrediente" />peras</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="frutos rojos" name="ingrediente" />frutos rojos</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="frambuesas" name="ingrediente" />frambuesas</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="moras" name="ingrediente" />moras</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="arandanos" name="ingrediente" />arandanos</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="naranja" name="ingrediente" />naranjas</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="limon" name="ingrediente" />limon</li>
                </ul>
            </div>

            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/Legumbres.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="guisantes" name="ingrediente" />guisantes</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="frijoles" name="ingrediente" />frijoles</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="judias" name="ingrediente" />judias</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="chiles" name="ingrediente" />chiles</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/Frutos secos.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="piñones" name="ingrediente" />piñones</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="almendras" name="ingrediente" />almendras</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="cacahuetes" name="ingrediente" />cacahuetes</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="pistachos" name="ingrediente" />pistachos</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/Mermeladas.jpg" class="img-responsive" />
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/Salsas.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="guacamole" name="ingrediente" />guacamole</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="nata" name="ingrediente" />nata</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="salsa de rabanos" name="ingrediente" />salsa de rabanos</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="tirabeques" name="ingrediente" />tirabeques</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/panes.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="pan" name="ingrediente" />pan</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="pan molde" name="ingrediente" />pan molde</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="galletas" name="ingrediente" />galletas</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="blinis" name="ingrediente" />blinis</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/carnes.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="cerdo" name="ingrediente" />cerdo</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="pollo" name="ingrediente" />pollo</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="carne picada" name="ingrediente" />carne picada</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="salchichas" name="ingrediente" />salchichas</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/pescados.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="salmon ahumado" name="ingrediente" />salmon ahumado</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="atun" name="ingrediente" />atun</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="gambas" name="ingrediente" />gambas</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/huevos.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="huevos" name="ingrediente" />huevos</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/lacteos.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="leche" name="ingrediente" />leche</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="yogur" name="ingrediente" />yogur</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/quesos.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="queso" name="ingrediente" />queso</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="queso feta" name="ingrediente" />queso feta</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/especias.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="sal" name="ingrediente" />sal</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="azucar" name="ingrediente" />azucar</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="menta" name="ingrediente" />menta</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="pimienta negra" name="ingrediente" />pimienta negra</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="perejil" name="ingrediente" />perejil</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="oregano" name="ingrediente" />jenjibre</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="cilantro" name="ingrediente" />cilantro</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/aceites.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="aceite" name="ingrediente" />aceite</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="vinagre" name="ingrediente" />vinagre</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="aceite de semillas" name="ingrediente" />aceite de semillas</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/varios.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="setian" name="ingrediente" />setian</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="totopos" name="ingrediente" />totopos</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="brotes de soja" name="ingrediente" />brotes de soja</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="palitos" name="ingrediente" />palitos</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="hielo" name="ingrediente" />hielo</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="copos" name="ingrediente" />copos</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/embutidos.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="jamon" name="ingrediente" />jamon</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="chorizo" name="ingrediente" />chorizo</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/arroces.jpg" class="img-responsive" />
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/Harinas.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="arroz" name="ingrediente" />arroz</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="harina" name="ingrediente" />harina</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="harina de maiz" name="ingrediente" />harina de maiz</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/cereales.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="copos de patatas" name="ingrediente" />copos de patatas</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="corn flakes" name="ingrediente" />corn flakes</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/bebidas.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="tequila" name="ingrediente" />tequila</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="cointreau" name="ingrediente" />cointreau</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/pasta.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                    <li class="ingredientesDisponibles"><input type="checkbox" value="pasta" name="ingrediente" />pasta</li>
                    <li class="ingredientesDisponibles"><input type="checkbox" value="espaguetis" name="ingrediente" />espaguetis</li>
                </ul>
            </div>
            <div class="grid-item">
                <p class="menu_option"></p><img src="~/images/Iconos/Patatas.jpg" class="img-responsive" />
                <ul class="Ingredientes">
                </ul>
            </div>
            <div>
                <input type="submit" class="btn btn-default" value="Buscar Receta">
            </div>

        </div>
    </div>
</form>
<script src="~/js/menu_principal.js"></script>